@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Mukta", sans-serif;
  margin: 0;
  background-color: #f1f5f8;
}

h1,
h2,
h3 {
  letter-spacing: 1px;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* APP */
/* ===== */
.app {
  padding: 1em;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: inline-block;
  font-weight: 700;
  border-bottom: 3px solid #49a6e9;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;
  align-self: stretch;
}

/* PROFILE CARD */
/* ========== */

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  padding: 1.5em;
  background-color: white;
  /* background-color: magenta; */
}

.profile-name {
  color: #627d98;
  text-transform: capitalize;
  margin: 0.5em;
  font-weight: 300;
}

.btn-profile {
  border: none;
  padding: 0.5em 1em;
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7rem;
  color: white;
  background-color: #49a6e9;
}

.profile-img {
  max-width: 120px;
  border-radius: 50%;
  order: -1;
}

/* BUTTON CONTAINER */
/* ============== */

.button-container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  margin-top: 2em;
  align-items: center;
  justify-content: center;
}

.btn-page.active {
  background-color: red;
}
